      /* core */
      html,
      body {
        height: 100%;
        width: 100%;
      }
      body {
        font-family: Ubuntu, sans-serif;
        font-weight: 400;
        margin: 0;
        padding: 0;
      }

      .wrapper {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        font-size: 21px;
      }

      .wrapper > div {
        padding: 20px 20%;
      }

      /* sections */
      /* header */
      .header {
        background: #c487d3;
        min-height: 60px;
        color: white;
      }

      .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .hero {
        display: flex;
      }

      /* Responsive layout */
      @media (max-width: 820px) {
        .hero {
          flex-direction: column;
        }
      }

      .hello {
        align-self: center;
      }

      hr {
        margin: 0 auto;
        margin-top: 40px;
        width: 70%;
        border: 0;
        height: 2px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(54, 1, 77), rgba(255, 255, 255, 0))
      }

      /* content */
      .content {
        color: #36014d;
        background-color: #ffffff;
        align-self: center;
      }

      .center {
        text-align: center;
      }

      .intro, .description {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      /* Responsive layout */
      @media (max-width: 820px) {
        .intro {
          flex-direction: column;
        }

        .description {
          flex-direction: column-reverse;
        }
      }

      .companies {
        display: flex;
        justify-content: center;
        padding: 40px 10px;
      }

      .contact {
        text-align: center;
      }

      .post {
        padding: 20px 20%;
      }

      .text {
        padding: 5px 10px;
      }

      .post-list {
        padding-left: 0;
      }

      ul {
        list-style-type: none;
        padding-left: 0;
      }

      ol {
        padding-left: 25px;
      }

      /* footer */
      .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
        background-color: #af61c3;
        color: #ffffff;
        font-size: 15px;
      }

      /* Responsive layout */
      @media (max-width: 820px) {
        .footer {
          flex-direction: column;
        }
      }

      .footer p {
        margin-top: 8px;
        margin-bottom: 8px;
      }

      /* images */
      .logo {
        width: 90px;
      }

      .company {
        margin-right: 20px;
        width: 80px;
        height: fit-content;
        align-self: center;
      }

      .project {
        width: 320px;
        height: fit-content;
      }

      .doodle {
        width: 500px;
        z-index: 10000;
      }

      .polaroid {
        width: 300px;
        background: #f3f2f2;
        padding: 15px 15px 30px;
        margin: 5px 20px;
        -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      }

      /* Responsive layout */
      @media (max-width: 820px) {
        .polaroid {
          width: 200px;
        }
      }

      img {
        width: 100%;
        max-width: 800px;
        border-radius: 1%;
      }

      .recipe-photo {
        max-width: 540px;
      }

      /* headings */
      h1 {
        font-size: 48px;
      }

      .hero h1 {
        margin: 10px auto;
        font-size: 50px;
      }

      h2 {
        font-size: 40px;
      }

     .hero h2 {
        margin: 10px auto;
        font-size: 22px;
      }

      h3 {
        font-size: 32px;
      }

      h4 {
        margin: 10px auto;
        font-size: 26px;
      }

      h5 {
        margin: 10px auto;
        font-size: 22px;
      }

      /* icons */
      .icon {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 8px 12px;
        background-size: cover;
        filter: brightness(0) invert(1);
      }

      .i-big {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 8px 12px;
        background-size: cover;
        filter: brightness(0) invert(1);
      }

      .i-dark {
        filter: none;
      }

      .icon-mail {
        background-image: url(/assets/mail.svg);
      }
      .icon-linkedin {
        background-image: url(/assets/linkedin.svg);
      }
      .icon-github {
        background-image: url(/assets/github.svg);
      }
      .icon-back {
        background-image: url(/assets/back.svg);
      }

      /* links */
      a:link {
        color: #701c7f;;
      }

      a:visited {
        color: #701c7f;
      }

      a:hover {
        color: #6a257c;
      }

      a.button {
        text-decoration-line: none;
        color: #6a257c;
        margin-top: 60px;
        padding: 10px 12px;
        border-style: solid;
        border-radius: 9999px;
        border-width: 2px;
        border-color: #6a257c;
        display: block;
        width: fit-content;
        font-weight: 600;
        font-size: 20px;
      }

      a.button:hover {
        text-decoration-line: none;
        color: #fff;
        background-color: #6a257c;
      }

      .navigation-links a{
        color: #fff;
        font-weight: 600;
        margin-left: 20px;
      }

      .footer a {
        color: #e2cde7;
      }

      .footer .logo{
        width: 50px;
      }

      .back-to-top {
        text-align: right;
      }

      /*@media (prefers-color-scheme: dark) {
        .header {
          background: #000;
          color: #fff;
        }

        .doodle {
          -webkit-filter: invert(1);
          filter: invert(1);
        }
      }*/