/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    text-transform: uppercase;

    &,
    &:visited {
        color: $grey-color-dark;
        text-decoration: none;
    }

    &:hover {
        text-decoration: none !important;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #777;
        font-weight: 600;
        font-size: 16px;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .page-link:hover {
        text-decoration: none;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: #68a4c4;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: #ffffff;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col-wrapper a {
    font-size: 17px;
    color: #ffffff;
}

.footer-col-wrapper a:hover {
    text-decoration: none;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

ul.social-network {
    list-style:none;
    margin:0;
    float:right;
}

ul.social-network li {
    color: #ffffff;
    display:inline;
    margin: 0 5px;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    font-size: 26px;
    letter-spacing: -0.028em;
    line-height: 1.04;
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
    color: #777;
}

a.post-link {
    display: block;
    font-size: 26px;
    font-weight: 600;
    color: #000;
}

a.post-preview {
    display: block;
    padding: 8px 0 8px 0;
    font-size: 24px;
    line-height: 1.22;
    letter-spacing: -0.022em;
    font-weight: 300;
    color: #777;

    > img {
        margin: 2px 7px 2px 0;
        float: left;
    }
}

.post-preview p {
    width: 80%;
    float: right;
}

.post-preview:hover, .post-link:hover {
    text-decoration: none;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: -0.028em;
    line-height: 1.04;

    @include media-query($on-laptop) {
        font-size: 38px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-nav {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;

    .post-related-link {
        width: 50%;
        float: left;
    }

    .next {
        text-align: right;
    }
}

/* About page */

.headshot {
    float: left;
    margin-right: 20px;
}


/* Contact page */

.contact .fa {
    color: #68a4c4;
    vertical-align: middle;
}

.contact a {
    display: block;
    color: #000000;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: none;
}

.contact a .fa {
    width: 20%;
    margin-top: 3%;
}

.contact a .message {
    text-align: right;
}

/* Gallery */
.gallery .type {
    text-transform: capitalize;
}

.gallery .thumbnail {
    margin: 5px;
}

/* Projects page */
img.project {
    float: right;
}
