---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <img class="cover" src="{{ page.cover }}" />
  </header>

  <div class="post-content" itemprop="articleBody">{{ content }}</div>

  <hr />

  {% if page.footnote %}
  <p class="post-meta">{{ page.footnote }}</p>
  {% endif %}

  <p class="post-meta">
    Posted on
    <time
      datetime="{{ page.date | date_to_xmlschema }}"
      itemprop="datePublished"
      >{{ page.date | date: "%b %-d, %Y" }}</time
    >{% if page.author %} •
    <span itemprop="author" itemscope itemtype="http://schema.org/Person"
      ><span itemprop="name">{{ page.author }}</span></span
    >{% endif %}
  </p>

  <div class="post-nav">
    <div class="post-related-link previous">
      {% if page.previous.url %}
      <a href="{{ page.previous.url }}">
        <strong>Previous article:</strong> {{ page.previous.title }}
      </a>
      {% endif %}
    </div>

    <div class="post-related-link next">
      {% if page.next.url %}
      <a href="{{ page.next.url }}">
        <strong>Next article:</strong> {{ page.next.title }}
      </a>
      {% endif %}
    </div>
  </div>

  {% include back_to_top.html %}
</article>
